.stations {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	justify-content: center;
}

.stile01 {
	background: rgba(2, 253, 178, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	margin: 0.25em;
	display: flex;
	justify-content: center;
	position: relative;
}

.stile02 {
	font-size: 1.4rem;
	/* border: 4px solid #000000; */
	/* border-radius: 10px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
	width: 100%;

}

.loadingContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.loading {
	position: absolute;
	/* bottom: 20px;  */
	font-size: small;
}

.stationName {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}

.textDouble {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex-grow: 1;
}

.name {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	color: #000000;
}

.player {
	background: #c63d3d00;
	border-radius: 10px;
	border: 3px solid #989898;
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.player:hover {
	background: #c6e6ff13;
    /* border-color: #000000; */
}

.logo {
    height: 2.5em;
    width: 2.5em;
    border-radius: 10%;
    border: 3px solid #989898;
    margin: 0 0.25em;
}

.playing {
	/* background: #c6e6ff23; */
	background: rgba(2, 253, 178, 0.15);
	border: 3px solid #8e5555;
}