.styleContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  }

.titles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	z-index: 10;
	background-image: linear-gradient(19deg, #203c42 0%, #311e3a 100%);
	width: 100%;
	background-attachment: fixed;
}
h1 {
	margin: 1em 0 0 0;
	font-size: 3rem;
}

h2 {
	margin-bottom: 2em;
}

.radio {
	display: flex;
	flex-direction: row;
	max-width: 60em;
	margin-top: 300px;
}

/* .sticky {
	position: fixed;
	z-index: 10;
} */

.stickyComplement {
	margin-top: 216px;
	/* padding-top: 10rem; */
}

.stationName img {
	display: block;
	width: 2.5em;
	height: 2.5em;
	border-radius: 10%;
	border: 3px solid #989898;
	margin: 0 0.25em;
}

audio {
	width: 100%;
}

.rhap_controls-section {
    margin-top: 0px;
}

.rhap_stacked .rhap_controls-section {
    margin-top: 10px !important;
}

.loading {
	margin-top: 1em;
	color: #000000;
	font-size: 1.4rem;
	text-align: center;
	display: flex;
	justify-content: center;
	font-weight: bold;
}

/* radioCard */

.stations {
	display: grid;
	grid-template-columns: repeat(3, 33%);
}

.station {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	font-size: 1.4rem;
	margin: 0.25em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stationName {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	width: 100%;
	align-items: center;
	justify-content: start;
}

.stationName:hover {
	border-color: #82e175;
}

.name {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	color: #000000
}

.player {
	background: #bd696900;
	border-radius: 10px;
	border: 3px solid #989898;
}

.player:hover {
	/* background: #86c4f3; */
    border-color: #000000;
}

.logo {
    height: 2.5em;
    width: 2.5em;
    border-radius: 10%;
    border: 3px solid #989898;
    margin: 0 0.25em;
}